<main id=landing>
  <nav id="sign-in"><a href="#">Sign In</a></nav>

  <section id="hero">
    <h1 id="intro-text">
      <span class="first">Approaching escape velocity...</span>
      <span class="second">...prepare to enter knowledge orbit.</span>
    </h1>
  </section>

  <div id="product-info">
    <section id="copy">
      <p>
        <i>InfoShuttle</i> is a super simple wiki with the solarized-dark color
        scheme, markdown editing, and a responsive design.
      </p>
      <p>
        Free accounts feature unlimited public wikis with unlimited collaborators.
        Premium accounts gain unlimited private wikis.
      </p>
    </section>

    <section id="screenshot"><%= image_tag 'http://placehold.it/1200x800' %></section>

    <nav id="register"><a href="#">Register for free!</a></nav>
  </div>

  <h1 id="logo">
    <span id="icon"><i id="shuttle-icon"></i></span>
    <span id="info">Info</span><span id="shuttle">Shuttle</span>
  </h1>
</main>
<div id="landing-background"></div>
