<main class="landing">
  <nav class="landing__sign-in">
    <% if current_user %>
      <%= link_to "Sign Out", sign_out_path, method: :post %>
    <% else %>
      <%= link_to "Sign In", auth_at_provider_path(:provider => :twitter) %>
    <% end %>
  </nav>

  <header class="landing__hero">
    <h1 class="hero">
      <span class="hero__first">Approaching escape velocity...</span>
      <span class="hero__second">...prepare to enter knowledge orbit.</span>
    </h1>
  </header>

  <section class="landing__description">
    <p>
      <i>InfoShuttle</i> is a super simple wiki with the solarized-dark color
      scheme, markdown editing, and a full responsive design.
    </p>
    <p>
      Free accounts feature unlimited public wikis with unlimited collaborators.
      Premium accounts gain unlimited private wikis.
    </p>
  </section>

  <section class="landing__screenshot">
    <%= image_tag 'http://placehold.it/1200x800' %>
  </section>

  <nav class="landing__register">
    <%= link_to "Get Started for Free!", auth_at_provider_path(:provider => :twitter) %>
  </nav>

  <h1 class="logo">
    <span><i class="logo__icon"></i></span>
    <span class="logo__info">Info</span><span class="logo__shuttle">Shuttle</span>
  </h1>
</main>

<div class="landing__background"></div>
